
@font-face {
  font-family: 'Roboto!';
  src: url('Roboto-Regular.eot');
  src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('Roboto-Regular.woff') format('woff'),
  url('Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes render {
  0% {
    stroke-dasharray: 100 100;

    opacity: 0;
  }

}

li {
  padding: 1px 5px;
  border: 1px solid rgba(200, 210, 220, 1);
  border-radius: 20px;

}

.box-1__diagram {
  display: inline;
  justify-content: center;
}

.caption-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.caption-item-ekb::before {
  list-style: none;
  content: "•";
  color: rgba(255, 216, 142, 1); /* Замените на желаемый цвет, например, красный (#FF0000) */
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px; /* Регулирует расстояние между точкой и текстом */
  
}

.caption-item-msk::before {
  list-style: none;
  content: "•";
  color: rgba(165, 255, 142, 1); /* Замените на желаемый цвет, например, красный (#FF0000) */
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px; /* Регулирует расстояние между точкой и текстом */
}

.caption-item-chel::before {
  list-style: none;
  content: "•";
  color: rgba(142, 153, 255, 1); /* Замените на желаемый цвет, например, красный (#FF0000) */
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px; /* Регулирует расстояние между точкой и текстом */
}

.caption-item-spb::before {
  list-style: none;
  content: "•";
  color: rgba(255, 142, 210, 1); /* Замените на желаемый цвет, например, красный (#FF0000) */
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px; /* Регулирует расстояние между точкой и текстом */
}

.caption-item-nsk::before {
  list-style: none;
  content: "•";
  color: rgba(113, 187, 255, 1); /* Замените на желаемый цвет, например, красный (#FF0000) */
  font-size: 40px;
  vertical-align: middle;
  margin-right: 5px; /* Регулирует расстояние между точкой и текстом */
}

.caption-list {
  display: flex;
  justify-content: space-around;
  width: 349px;
  height: 100px;
  gap: 8px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 0 0 0px;

}

.canvas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  transform: rotate(0deg)
}

.caption-item-ekb,
.caption-item-msk,
.caption-item-chel,
.caption-item-spb,
.caption-item-nsk {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
}

.unit {
  fill: none;
  stroke-width: 10; 
  animation-name: render;
  animation-duration: 1.5s;
  transition-property: all; 
  transition-duration: 1.5s; */
} 

.unit:hover {
  opacity: 0.8;
  stroke-width: 8;
}

.hovered {
  opacity: 0.8; 
  stroke-width: 12;
} 

:root {
  --color-1: rgba(255, 216, 142, 1);
  --color-2: rgba(165, 255, 142, 1);
  --color-3: rgba(142, 153, 255, 1);
  --color-4: rgba(255, 142, 210, 1);
  --color-5: rgba(113, 187, 255, 1);
}

/* .unit:nth-child(1) {
  stroke: var(--color-1);
  stroke-dasharray: 25 100;
  stroke-dashoffset: -28;
  animation-name: render;
  animation-duration: 5s;} */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */


/* .unit:nth-child(2) {
  stroke: var(--color-2);
  stroke-dasharray: 17 100;
  stroke-dashoffset: -53;
  animation-name: render;
  animation-duration: 1.5s;}  */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */


/* .unit:nth-child(3) {
stroke: var(--color-3);
stroke-dasharray: 13 100;
stroke-dashoffset: -70;
animation-name: render;
animation-duration: 1.5s;}  */
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */


/* .unit:nth-child(4) {
stroke: var(--color-4);
stroke-dasharray: 11 100;
stroke-dashoffset: -83;
animation-name: render;
animation-duration: 1.5s;}  */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */


/* .unit:nth-child(5) {
stroke: var(--color-5);
stroke-dasharray: 9 100;
stroke-dashoffset: -94;
animation-name: render;
animation-duration: 1.5s;} 
*/
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */


/* [class^="caption-item-"]:hover {
  opacity: 0.8;
}  */



/* .caption-item:nth-child(1)::before {
background-color: var(--color-1);
}  */

/* .caption-item:nth-child(2)::before {
  background-color: var(--color-2);
} */

/* .caption-item:nth-child(3)::before {
  background-color: var(--color-3);
} */

/* .caption-item:nth-child(4)::before {
  background-color: var(--color-4);
} */

/* .caption-item:nth-child(5)::before {
  background-color: var(--color-5);
}  */

/* анимация появления */



 .unit-1 {
  stroke: var(--color-1);
  stroke-dasharray: 25 100;
  stroke-dashoffset: -27;
  stroke-width: 5;
  /* animation-name: render; */
  /* animation-duration: 1.5s; */
  /* animation-delay: 0.2s; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
} 

.unit-2 {
  stroke: var(--color-2);
  stroke-dasharray: 17 100;
  stroke-dashoffset: -52;
  /* animation-name: render; */
  stroke-width: 5; 
  /* animation-duration: 1.5s; */
  /* animation-delay: 0.4s; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
} 

.unit-3 {
  stroke: var(--color-3);
  stroke-dasharray: 13 100;
  stroke-dashoffset: -69;
  /* animation-name: render; */
  stroke-width: 5; 
  /* animation-duration: 1.5s; */
  /* animation-delay: 0.6s; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

.unit-4 {
  stroke: var(--color-4);
  stroke-dasharray: 11 100;
  stroke-dashoffset: -82;
  /* animation-name: render; */
  stroke-width: 5; 
  /* animation-duration: 1.5s; */
  /* animation-delay: 0.8s; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}

.unit-5 {
  stroke: var(--color-5);
  stroke-dasharray: 9 100;
  stroke-dashoffset: -93;
  /* animation-name: render; */
  stroke-width: 5; 
  /* animation-duration: 1.5s; */
  /* animation-delay: 1.0s; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}



